html,body{
	margin:0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header {
	text-align:center;
	img {
		width: 100%;
		max-width: 780px;
	}
	h1 {
		font-size: 1.6em;
	}

}
.icons {
	width: 60px;
	height: 60px;
	background: url(/imgs/icons.png) no-repeat;
	&#charge{
		background-position: 0 0;
	}
	&#shelter{
		background-position: -60px 0;
	}
	&#food{
		background-position: -120px 0;
	}
	&#medicine{
		background-position: -180px 0;
	}
}
.helpaction{
	width: 90px;
	height: 90px;
	display: block;
	margin-top: -40px;
    position: absolute;
    right: 10px;

}
.container {
	margin: 10px 20px;
	background: #fff;
	ul {
		margin: 0;
		padding: 0;
		list-style:none;
		li {
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		h4 {
			color: #42b7f7;
			margin: 0 3px;
			font-size: 1.1em;
		}
		b {
			font-size: 0.8em;
			margin-top: -10px;
		}
		p {
			padding-left: 40px;
    		background: url("/imgs/pin.png") no-repeat 0px 3px;
			font-size: 0.7em;
		}
		.iconholder{
			display: inline-block;
			margin-right: 15px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.map {
			text-decoration: none;
			color: #222;
		}
		
	}
}
.call{
	display: block;
	text-align: center;
	padding: 5px 10px;
	background-color: #40d285;
	color: #fff;
	text-decoration: none;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


form {
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

input, .floating-placeholder {
  font-size: 20pt;
  line-height: 2.6em;
  height: 2.6em;
  margin: 0;
  padding: 0;
  width: 100%;
}
textarea {
	height: 3.8em;
	margin: 0;
  padding: 0;
  width: 100%;
  font-size: 20pt;
  line-height: 2.6em;
  
}
.floating-placeholder input:focus + label {
  color: #16abf0;
}

.floating-placeholder input[value] + label {
  color: red;
}

.floating-placeholder {
  position: relative;
}

.floating-placeholder input, .floating-placeholder textarea {
  font-size: 14pt;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-vertical-align: center;
  text-indent: 20px;
}



.floating-placeholder label {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 20pt;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  color: #999;
  text-vertical-align: center;
}

.floating-placeholder-float label {
  -moz-transform: scale(0.4, 0.4) rotateY(0);
  -ms-transform: scale(0.4, 0.4) rotateY(0);
  -webkit-transform: scale(0.4, 0.4) rotateY(0);
  transform: scale(0.4, 0.4) rotateY(0);
}

.floating-placeholder-float input {
  line-height: 3.4em;
}
