<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"  ng-app="HelpChennaiApp">
<!--<![endif]-->

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Help Chennai</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">


</head>

<body ng-controller="HelpChennaiController">
    <header class="header">
        <img src="imgs/header.jpg" /><br />
        <a href="javascript:;" ng-click="addListing()" class="helpaction"><img src="imgs/helpaction.png" /></a>
    </header>


    <!-- Listing -->
    <div class="container" ng-show="listmode">
        <h3>Help near you...</h3>
        <ul>
            <li ng-repeat="list in listing">
                <h4>{{list.title}}</h4>
                <b>{{list.locality}} | {{list.distance | number:0}} KM</b><br />
                <span ng-repeat="tag in list.tags"  class="iconholder">
                    <div class="icons" id="{{tag}}"></div>
                    {{tag}}
                </span>
                <p>
                    <a class="map" href="geo:{{list.location.lat}},{{list.location.lon}}" target="_blank">
                        <b>{{list.name}}</b><br />
                        {{list.address}}<br />
                    </a>
                </p>
                <a class="call" href="tel:{{list.phone}}">Call Now</a>
                
            </li>
        </ul>

    </div>


    <!-- Add form -->
    <div class="container" ng-hide="listmode">
        <h3>I want to help...</h3>

        <form >
            <div class="floating-placeholder floating-placeholder-float">
              <input id="title" name="title" type="text" ng-model="postdata.title"/>
              <label for="title">Help Title</label>
            </div>
            <B>Pick the help you can provide  </B><br /><br />

            <div class="floating-placeholder floating-placeholder-float" ng-repeat="(key, value)  in tags">
              <input id="{{key}}" name="{{key}}" type="checkbox" ng-model="value" ng-change="populateTags(key, value)" />
              <label for="{{key}}">{{key}}</label>
            </div>
            <div class="floating-placeholder floating-placeholder-float" >
              <input id="name" name="name" type="text"  ng-model="postdata.name"/>
              <label for="name">Your Name</label>
            </div>
            <div class="floating-placeholder floating-placeholder-float">
              <textarea id="address" name="address" ng-model="postdata.address" ></textarea>
              <label for="address">Address</label>
            </div>
            <div class="floating-placeholder floating-placeholder-float">
              <input id="locality" name="locality" type="text"  ng-model="postdata.locality" />
              <label for="locality">Locality</label>
            </div>
            <div class="floating-placeholder floating-placeholder-float">
              <input id="phone" name="phone" type="number"  ng-model="postdata.phone"/>
              <label for="phone">Phone</label>
            </div>
            
                        <!-- <div class="floating-placeholder floating-placeholder-float">
              <input id="food" name="food" type="checkbox"  />
              <label for="food">Food</label>
            </div>
                        <div class="floating-placeholder floating-placeholder-float">
              <input id="medicine" name="medicine" type="checkbox"  />
              <label for="medicine">Medicine</label>
            </div>
                        <div class="floating-placeholder floating-placeholder-float">
              <input id="recharge" name="recharge" type="checkbox"  />
              <label for="recharge">Recharge</label>
            </div> -->
             <a class="call" href="javascript:;" ng-click="post(postdata)">Post</a>
            
        </form>
    </div>



</body>
<script src="js/list.js"></script>
<html>